{% extends 'base.html.twig' %}
{% trans_default_domain 'messages' %}
{% block title %}{{ 'Add User'|trans }}{% endblock %}
{% block main_title %}
    {{'Add User'|trans}}
{% endblock %}
{% block main %}

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
                label: 'Password'|trans
                }) }}
        {{ form_row(registrationForm.roles, {
                label: 'Roles'|trans
                }) }}
        <button type="submit" class="btn">{{'Add User'|trans}}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
